FacileServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://facile/" name="facile_serviceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://facile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://facile/" schemaLocation="FacileServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getDestination">
    <part name="parameters" element="tns:getDestination"/>
  </message>
  <message name="getDestinationResponse">
    <part name="parameters" element="tns:getDestinationResponse"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="taxiregistration">
    <part name="parameters" element="tns:taxiregistration"/>
  </message>
  <message name="taxiregistrationResponse">
    <part name="parameters" element="tns:taxiregistrationResponse"/>
  </message>
  <message name="taxiUpdate">
    <part name="parameters" element="tns:taxiUpdate"/>
  </message>
  <message name="taxiUpdateResponse">
    <part name="parameters" element="tns:taxiUpdateResponse"/>
  </message>
  <message name="busdetails">
    <part name="parameters" element="tns:busdetails"/>
  </message>
  <message name="busdetailsResponse">
    <part name="parameters" element="tns:busdetailsResponse"/>
  </message>
  <message name="user_registration">
    <part name="parameters" element="tns:user_registration"/>
  </message>
  <message name="user_registrationResponse">
    <part name="parameters" element="tns:user_registrationResponse"/>
  </message>
  <message name="bus_display_details">
    <part name="parameters" element="tns:bus_display_details"/>
  </message>
  <message name="bus_display_detailsResponse">
    <part name="parameters" element="tns:bus_display_detailsResponse"/>
  </message>
  <message name="near_taxi_list">
    <part name="parameters" element="tns:near_taxi_list"/>
  </message>
  <message name="near_taxi_listResponse">
    <part name="parameters" element="tns:near_taxi_listResponse"/>
  </message>
  <portType name="facile_service">
    <operation name="getDestination">
      <input message="tns:getDestination"/>
      <output message="tns:getDestinationResponse"/>
    </operation>
    <operation name="hello">
      <input message="tns:hello"/>
      <output message="tns:helloResponse"/>
    </operation>
    <operation name="taxiregistration">
      <input message="tns:taxiregistration"/>
      <output message="tns:taxiregistrationResponse"/>
    </operation>
    <operation name="taxiUpdate">
      <input message="tns:taxiUpdate"/>
      <output message="tns:taxiUpdateResponse"/>
    </operation>
    <operation name="busdetails">
      <input message="tns:busdetails"/>
      <output message="tns:busdetailsResponse"/>
    </operation>
    <operation name="user_registration">
      <input message="tns:user_registration"/>
      <output message="tns:user_registrationResponse"/>
    </operation>
    <operation name="bus_display_details">
      <input message="tns:bus_display_details"/>
      <output message="tns:bus_display_detailsResponse"/>
    </operation>
    <operation name="near_taxi_list">
      <input message="tns:near_taxi_list"/>
      <output message="tns:near_taxi_listResponse"/>
    </operation>
  </portType>
  <binding name="facile_servicePortBinding" type="tns:facile_service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getDestination">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="taxiregistration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="taxiUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="busdetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="user_registration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bus_display_details">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="near_taxi_list">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="facile_serviceService">
    <port name="facile_servicePort" binding="tns:facile_servicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

